.fas {
  font-size: 30px;
}

.nav-link {
  padding-left: 0rem;
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    top: 125%;
    left: -244%;
    text-align: center;
  }

  .navbar .nav-item .logout {
    top: 124%;
    left: -177%;
    text-align: center;
  }
}



@media (max-width: 991.98px) {
  .p-4 {
    padding-bottom: 0 !important;
  }

  .nav-link {
    padding-left: 1.5rem;
  }

  .dropdown-menu {
    min-width: 7rem;
  }
}
