<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
  <a routerLink="/" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
    <h1 class="m-0 text-primary">AngularJobs</h1>
  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a routerLink="/" class="nav-item nav-link">Home</a>
      <a [routerLink]="['/', PATHS.JOB_LISTINGS]" class="nav-item nav-link">Jobs' List</a>
      @if((authState$ | async)?.isAuth) {
        <a [routerLink]="['/', PATHS.CREATE_JOB]" class="nav-item nav-link">Create job</a>
      }
    </div>
    <div class="nav-item dropdown">
      @if((authState$ | async)?.isAuth) {
        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <i class="fas fa-user"></i>
      </a>
      <div class="dropdown-menu rounded-0 m-0 logout">
        <a href="#" (click)="handleLogout($event)" class="nav-item nav-link">Logout</a>
      </div>
      }@else {
      <a href="#" class="nav-link" data-bs-toggle="dropdown">
        <i class="fas fa-sign-in-alt"></i>
      </a>
      <div class="dropdown-menu rounded-0 m-0">
        <a [routerLink]="['/', PATHS.LOGIN]" class="nav-item nav-link">Login</a>
        <a [routerLink]="['/', PATHS.REGISTER]" class="nav-item nav-link">Register</a>
      </div>
      }
    </div>
  </div>
</nav>
