/* You can add global styles to this file, and also import other style files */

//Job list/details
.company-name {
  color: var(--primary);
}

//Form errors - login/register
.error-container {
  margin: 0 auto;
}

.input-error {
  border: 2px solid var(--bs-danger);
}

.error-msg {
  margin: 10px 0 0 12px;
  color: var(--bs-danger);
}

.btn-primary:disabled {
  background-color: var(--bs-gray);
  border-color: var(--bs-gray);
}
