<div class="job-container">
  <h4 class="mb-4">Create Job add</h4>
  <form>
      <div class="row g-3">
          <div class="col-12 col-sm-6">
              <input type="text" class="form-control" placeholder="Your Name">
          </div>
          <div class="col-12 col-sm-6">
              <input type="email" class="form-control" placeholder="Your Email">
          </div>
          <div class="col-12 col-sm-6">
              <input type="text" class="form-control" placeholder="Portfolio Website">
          </div>
          <div class="col-12 col-sm-6">
              <input type="file" class="form-control bg-white">
          </div>
          <div class="col-12">
              <textarea class="form-control" rows="5" placeholder="Coverletter"></textarea>
          </div>
          <div class="col-12">
              <button class="btn btn-primary w-100" type="submit">Submit</button>
          </div>
      </div>
  </form>
</div>
