  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a routerLink="/" class="navbar-brand d-flex align-items-center text-center py-0 px-4 px-lg-5">
        <h1 class="m-0 text-primary">AngularJobs</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a routerLink="/" class="nav-item nav-link">Home</a>
            <a routerLink="job-listings" class="nav-item nav-link">Job List</a>
            <a routerLink="job-details" class="nav-item nav-link">Job Detail</a>
            <a routerLink="create-job" class="nav-item nav-link">Create job</a>
            <a routerLink="login" class="nav-item nav-link">Login</a>
            <a routerLink="register" class="nav-item nav-link">Register</a>
        </div>
        <a routerLink="" class="btn btn-primary rounded-0 py-4 px-lg-5 d-none d-lg-block">Post A Job<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
<!-- Navbar End -->
