.login-container {
  margin: 0 auto;
}

.input-error {
  border: 2px solid var(--error);
}

.error-msg {
  margin: 10px 0 0 12px;
  color: var(--error);
}

.btn-primary:disabled {
  background-color: var(--error);
}
